body {
  background-color: #3f51b5;
  font-family: arial, sans-serif;
  color: white;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.weather-icon img {
  width: 100px;
}
.weather-forecast img {
  width: 50px;
}
i {
  width: 5px;
}
.city {
  font-weight: bold;
}
.city-form {
  margin-bottom: 20px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
}

.description {
  font-size: 30px;
}
.description:first-letter {
  text-transform: capitalize;
}
.weather-date {
  font-size: 20px;
}
.weather-time {
  font-size: 20px;
}
.units {
  font-size: 17px;
}
.temperature {
  font-size: 30px;
}
