body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Noto Sans TC", sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 100px;
}
i {
  width: 5px;
}
.city {
  font-weight: bold;
}
.city-form {
  margin-bottom: 20px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  list-style: none;
}

.description {
  font-size: 30px;
}
.description:first-letter {
  text-transform: capitalize;
}
